@import deck/indicator


.sd-workspace > div > .sd-deck-container
  top: 0
  left: 0


.sd-deck-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  &, .sd-deck-frame
    background: $body-bg

  .sd-deck-frame
    @extend .noselect

    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none
    z-index: 2

    > *
      opacity: 0
      pointer-events: none
      transition: 0.2s ease-out opacity

  &.sd-focused
    top: -$grid-size
    bottom: -$grid-size
    left: -$grid-size
    right: -$grid-size
    z-index: 10
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.4), 0 0 0.8rem rgba(0, 0, 0, 0.2)

    > .sd-deck-frame
      display: block
      z-index: 12

      > *
        opacity: 1
        pointer-events: auto

      > .sd-deck-name
        pointer-events: none

    > .sd-deck
      z-index: 12
      top: $grid-size
      bottom: $grid-size

      > .sd-card-slider,
      > .sd-card-sizer
        left: $grid-size
        right: $grid-size


.sd-deck-level-1
  pointer-events: none

  > .sd-deck-container
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: transparent

    > .sd-deck-frame
      display: block
      background: transparent

      > .sd-deck-frame-controls
        // room for the menu
        right: $grid-size
        width: calc(100% - #{$grid-size})

    > .sd-deck
      top: 0
      bottom: 0
      left: 0
      right: 0

    > .sd-deck > .sd-card-slider,
    > .sd-deck > .sd-card-sizer
      top: $grid-size
      left: $grid-size
      right: $grid-size
      height: calc(100% - #{$grid-size * 2})


// Chrome at the root is part of the normal dimensions, so the card is
// offset, but in nested decks the chrome is positioned outside the normal
// dimensions and the card should be full size
.sd-deck-level-2
  .sd-card
    height: 100%


.sd-deck-frame-controls
  display: flex
  flex-flow: row-reverse nowrap
  justify-content: space-between
  align-items: center
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  height: $grid-size
  padding: 0 $padding-base-vertical
  background-color: $frame-controls-bg
  color: $frame-controls-color

  &.sd-grab-deck
    cursor: grab

    &:active
      cursor: grabbing

  > *
    position: relative

    &:not(:first-of-type)
      padding-left: $padding-base-vertical

    &:not(:last-of-type)
      padding-right: $padding-base-vertical


  .sd-deck-frame-actions
    display: flex
    flex: 0 0 auto
    order: -1
    pointer-events: none

    > button
      height: 100%
      width: 1em
      margin: 0
      padding: 0
      border: none
      background: none
      font-size: 1.5rem
      pointer-events: all

      // same as .indicator dots
      &:not(:first-of-type)
        margin-left: 0.4rem

      &:not(:last-of-type)
        margin-right: 0.4rem

    .sd-zoom-deck-btn
      font-size: 1.6rem

      > .sd-icon
        position: relative
        top: -0.1rem

      > .sd-icon--gripper-arrow-left
        top: -0.3rem
        font-size: 1.3rem

  .sd-deck-name
    flex: 0 0 auto
    overflow: hidden
    line-height: 1.8
    font-size: 1.1rem
    text-align: right
    text-overflow: ellipsis
    white-space: nowrap

    &:last-child
      padding-right: 0

    &:empty
      display: none


.sd-deck
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  z-index: 2
  pointer-events: none

  > *
    pointer-events: auto


.sd-card-slider,
.sd-card-sizer
  position: absolute
  height: 100%
  left: 0
  right: 0


.sd-card
  $g: $grid-size * 2
  position: absolute
  height: 100%
  width: 100%

  > div
    height: 100%

  &, &-gripper, &-gripper-last
    background-color: $body-bg

  &-gripper
    float: left
    margin-left: $grid-size * -1

  &-gripper-last
    float: right
    margin-right: $grid-size * -1

  &-gripper, &-gripper-last
    display: block
    position: relative
    width: $grid-size
    height: 100%
    padding: 0
    border: none
    opacity: 0
    color: $gripper-color
    font-size: 2.4rem
    pointer-events: none
    cursor: grab
    transition: color 200ms ease-out

    &:hover
      color: $gripper-hover-color

    &:active
      cursor: grabbing

.sd-focused > .sd-deck > .sd-card-slider > .sd-card
  > .sd-card-gripper,
  > .sd-card-gripper-last
    transition: 0.2s ease-out opacity
    opacity: 1
    pointer-events: auto


.sd-deck-card
  height: 100%
  position: relative

  > div, fieldset
    position: absolute
    overflow: auto
    width: 100%
    height: 100%
    border: none

  > .sd-card-draftboard,
  > .sd-card-tabs
    overflow: visible


.action-icon
  position: relative
  display: inline-block


.action-icon.delete-deck-icon
  // TODO: probably needs to be icon'd
  $s: 2.8rem
  width: $s
  height: $s
  top: -0.4rem
  background-image: url("../img/delete-deck-white.svg")
  background-size: 100% 100%


.sd-access-next-card-hint
  position: absolute
  top: 50%
  right: $grid-size
  padding-left: $grid-size
  transform: translate(0, -50%)
  margin-top: -0.4rem
  z-index: 1000
  width: 20rem


.sd-focus-deck-hint
  position: absolute
  top: 0.8rem
  left: 50%
  transform: translate(-50%, 0)
  z-index: 9999


.sd-focus-deck-frame-hint
  position: absolute
  top: 0.5rem + 0.2rem
  left: 1.5rem + 1rem
  width: calc(50% - (1.6rem + 0.1rem))
  z-index: 9999


@import deck/card
@import deck/ace-card
@import deck/variables-card
@import deck/cache-card
@import deck/download-card
@import deck/markdown-card
@import deck/next-card
@import deck/open-card
@import deck/save-card
@import deck/search-card
@import deck/table-card
@import deck/draftboard-card
@import deck/dialog
@import deck/chart-options-card
@import deck/pending-card
@import deck/download-options-card
@import deck/download-card
@import deck/card-minimum-lod
@import deck/share
@import deck/unshare
@import deck/pending
@import deck/chart
@import deck/pivot-options-card
@import deck/pivot-table-card
@import deck/form-input
@import deck/tabs-card
@import deck/structure-editor
@import deck/error-card
