.dialog-mount {
    .panel {
        margin: 0;
        + .panel {
            margin: 10px 0 0;
        }
    }

    .panel-body {
        padding: 10px 15px;
        .ace_editor {
            margin: -10px -15px;
        }
    }

    .panel-heading {
        padding: 5px 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        line-height: 34px;
        width: 100%;
        margin-bottom: 0;
        input, select {
            font-weight: normal;
        }
        span {
            width: 100px;
            display: block;
            float: left;
        }
        input.form-control {
            width: ~"calc(100% - 100px)";
        }
        select.form-control {
            width: auto;
        }
    }

    .mount-userinfo {
        label+label {
            padding-top: 10px;
        }
    }

    .mount-host-list {
        .mount-host {
            label:nth-child(1) {
                width: 70%;
            }
            label:nth-child(2) {
                width: 30%;
                span {
                    margin-left: 30px;
                    width: 40px;
                }
                input.form-control {
                    width: ~"calc(100% - 70px)";
                }
            }
            label span {
                visibility: hidden;
            }
            +.mount-host {
                margin-top: 5px;
            }
        }
        .mount-host:first-child label span {
            visibility: visible;
        }
    }

    .mount-props {
        label {
            width: auto;
            float: left;
        }
        table {
            .form-control {
                width: 100%;
                border: none;
            }
            th {
                width: 50%;
                border-bottom-width: 1px;
            }
            td {
                padding: 0px;
                table {
                    td {
                        width: 50%;
                    }
                    width: 100%;
                }
            }
            margin-bottom: 0;
        }
    }

    .mount-props-scrollbox {
        max-height: 200px;
        overflow: auto;
    }

    .mount-format {
        clear: both;

        label {
            width: 100px;
            float: left;

            span {
                width: auto;
            }
        }

        input[type=radio] {
            margin-right: 5px;
        }
    }

    .alert {
        min-height: 42px;
    }
}
