.sd-admin-ui {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: white;

  padding-top: 10.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sd-admin-ui > .tabs {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0 -1.5rem;
  overflow-x: auto;
  overflow-y: hidden;

  > li {
    line-height: 1.75rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-right: 0.07rem solid;
    font-size: 1.5rem;
    cursor: pointer;
  }

  li:last-child {
    border-right: none;
  }

  .active-tab {
    position: relative;
  }

  .active-tab::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 0.15rem;
    background-color: black;
    width: calc(100% ~"-" 1.2rem);
  }
}

.sd-admin-ui > .tab-body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 80%;
  height: 80%;
  max-width: 80rem;

  legend {
    font-size: 1.7rem;
  }
}

.sd-admin-ui > .tab-body > .my-settings {
  > fieldset {
    margin-top: 3rem;

    &:first-child {
      margin-top: 1rem;
    }
  }

  .home-directory {
    p {
      margin-top: 2rem;
    }
  }
  .themes {
    .theme-pickers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      select {
        max-width: 30rem;
      }
    }
  }
}

.sd-admin-ui > .tab-body > .database {
  .database-form-wrapper {
    margin-top: 0;
  }
  fieldset {
    margin-top: 3rem;

    &:first-child {
      margin-top: 1rem;
    }
  }
}

.sd-admin-ui > .tab-body > .server {
  > fieldset {
    margin-top: 3rem;

    &:first-child {
      margin-top: 1rem;
    }
  }
}


.sd-admin-ui > .tab-body > .groups {

  height: inherit;
  flex-grow: 10;

  .sd-admin-ui-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .sd-admin-ui-group-input {
    position: relative;
    display: block;
    float: right;
    background: transparent;
    padding: 1rem 1rem 1rem 4rem;
    width: 100%;

    border: none;
    border-radius: 0;
  }

  .sd-admin-ui-group-input-label {
    position: absolute;
    text-align: left;
    padding-left: 4.5rem;
    float: right;
    padding: 0 1rem;
    color: lightgray;
    cursor: text;

    &.active {
      color: @brand-success;
      cursor: pointer;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.4rem 0 0 0.5rem;
      font-size: 2rem;
    }
  }
}

.sd-miller-slider {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.sd-slider-button {
  color: @brand-primary;
  height: 100%;
  font-size: 1.9rem;
  background: rgba(0,0,0,0);
  border-style: none;
}

.sd-slider-toggle {
  color: @brand-primary;
  height: 100%;
  background: rgba(0,0,0,0);
  border-style: none;
  border-left: solid 0.1rem darken(white, 10%);
  margin-bottom: 0.1rem;

  &:hover {
    background: darken(white, 10%);
  }

}

li.selected {
  .sd-slider-toggle {
    border-style: none;
    border-left: solid 0.1rem darken(@brand-primary, 10%);

    &:hover {
      background: darken(@brand-primary, 10%);
    }
  }
}

.sd-admin-ui-close {
  margin-top: 1rem;
  align-self: flex-end;
}
