.sd-admin-ui {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: white;

  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sd-admin-ui > .tabs {
  position: relative;
  list-style-type: none;
  padding: 0;

  > li {
    line-height: 1.75rem;
    display: inline;
    padding: 0 1rem 0 1rem;
    border-right: .07rem solid;
    font-size: 1.5rem;
    cursor: pointer;
  }
  li:first-child {
    padding: 0 1rem 0 0;
  }
  li:last-child {
    border-right: none;
  }

  .active-tab > span {
    font-weight: bold;
    border-bottom: .025rem solid black;
    padding: 0  .5rem .5rem .5rem;
    margin:  0 -.5rem 0    -.5rem;
  }
}

.sd-admin-ui > .tab-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  width: 80%;
  max-width: 80rem;

  legend {
    font-size: 1.7rem;
  }
}

.sd-admin-ui > .tab-body > .my-settings {
  > fieldset {
    margin-top: 3rem;
    p {
      margin-top: 2rem;
    }
  }
  > fieldset:first-child {
    margin-top: 1rem;
  }
  .themes {
    .theme-pickers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      select {
        max-width: 30rem;
      }
    }
  }
}
