.sd-attributions {
  .deck-dialog-body {
    max-height: 200px;
    overflow: auto;
  }

  dt {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: .8rem;
  }

  dd {
    font-size: .7rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
}
