.sd-global-menu {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  align-items: stretch;
  position: relative;
  font-size: 1.6rem;

  .menu-container {
    display: flex;
    position: relative;
    align-content: center;
  }

  .submenu {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    border: 0.1rem solid rgb(210, 210, 210);
    border-top: none;
    background: #fff;
    box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.05);
  }

  .submenu-item {
    white-space: nowrap;

    &:not(:first-child) {
      border-top: 0.1rem solid rgb(210, 210, 210);
    }
  }

  .submenu-item-link, .submenu-item-button {
    display: block;
    width: 100%;
    padding: 1.2rem 2.4rem;
    border: 0;
    background: none;
    color: #337ab7;
    text-align: right;
    cursor: pointer;

    &:hover, &:focus {
      background-color: rgb(240, 240, 240);
      color: #23527c;
      text-decoration: none;
    }

    &:active {
      background-color: rgb(17, 90, 223);
      color: #fff;
    }
  }

  .submenu-item-button {
    appearance: none;

    &::-moz-focus-inner {
      border: none;
    }
  }

  .sign-in, .help {
    &-menu-button {
      appearance: none;
      border: none;
      background: none;
      padding: 0 2.4rem;
      min-width: 6.4rem;
      font-size: 1.2rem;

      &:hover, &:focus, &.active {
        background-color: rgb(17, 90, 223);
      }

      &:focus {
        outline: none;
      }

      &::-moz-focus-inner {
        border: none;
      }

      .sd-icon {
        display: block;
        font-size: 2.2rem;
      }
    }
  }

  // needs a little adjustment to match the other
  .help-menu-button .sd-icon {
    position: relative;
    bottom: -0.5rem;
    margin-top: -0.4rem;
    font-size: 2.6rem;
  }

  .user-info {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 1.8rem 0 1.2rem;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 0.1rem;
      height: calc(100% ~"-" 2.4rem);
      background-color: hsla(0, 0%, 100%, 0.2);
    }
  }
}
