.sd-global-menu {
  float: right;
  vertical-align: middle;
  height: 100%;

  > ul {
    position: relative;
    float: right;
    list-style-type: none;
    margin-right: ~"calc(2.1rem - 0.5rem)";
    z-index: 800;
    height: 100%;

    > li {
      display: block;
      position: relative;
      float: left;
      height: 100%;

      a {
        color: rgb(210, 210, 210);

        &:hover {
          color: #fff;
        }
        &:not(:only-child) {
          color: #fff;
        }
      }

      & > div, & > div > a, & > a {
        display: flex;
        height: 100%;
        justify-content: stretch;
        align-items: center;
      }

      & > div > a, & > a {
        padding: 0.6rem;
      }

      & > a:not(:only-child) {
        background-color: rgb(17, 90, 223);
        color: #fff;
      }

      &:last-of-type > div > a,
      &:last-of-type > a {
        position: relative;
        font-size: 0.1rem;
        color: transparent;
        width: 4rem;

        &:hover::before {
          background-color: before;
          color: transparent;
        }

        &:not(:only-child)::before {
          background-color: #fff;
          color: transparent;
        }

        &::before, &::after {
          @s: 2.4rem;

          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: @s;
          height: @s;
          line-height: @s;
          margin: auto;
          font-size: 1.6rem;
          text-align: center;
        }

        &::before {
          content: "";
          border-radius: 50%;
          background-color: rgb(210, 210, 210);
          overflow: hidden;
          color: #333;
        }

        &::after {
          content: "?";
          padding-left: 0.05rem;
          color: #333;
          z-index: 9999;
        }
      }

      > ul {
        position: absolute;
        z-index: 800;
        right: -0.1rem;
        top: 100%;
        max-width: 100vw;
        padding: 0;
        background: #fff;
        box-shadow: 0.1rem 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.05);
        list-style-type: none;

        > li {
          position: relative;
          width: 100%;

          > a {
            display: flex;
            min-width: 100%;
            padding: 0.6rem 1.2rem;
            border-color: rgb(210, 210, 210);
            border-style: solid;
            border-width: 0 0.1rem;
            color: #3f3f3f;
            white-space: nowrap;
            text-align: right;
            cursor: pointer;

            > span {
              width: 100%;
              text-align: right;
            }

            &:hover {
              background-color: rgb(240, 240, 240);
              color: #000;
            }
          }

          &:last-child > a {
            border-radius: 0 0 0.25rem 0.25rem;
            border-width: 0 0.1rem 0.1rem 0.1rem;
            padding-bottom: 1rem;
          }
        }
      }
    }
  }

  a {
    display: inline-block;
    cursor: default;
    font-size: 1.6rem;
    line-height: 4rem;
    text-decoration: none;
  }
}
