@import (reference) "button";

@margin: 4.5%;

@keyframes pointDown {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -20%, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15%, 0);
  }

  90% {
    transform: translate3d(0, -4%, 0);
  }
}

@keyframes pointRight {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(-30px, 0, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(-4px, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sd-guide {
  max-width: 100%;
}

.sd-guide .sd-notification {
  border-top: 3px solid #337ab7;
  box-shadow: 0 2px 8px rgba(0,0,0,0.125);
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
}

.sd-guide .sd-notification-text {
  width: 100%;
}

.sd-guide .sd-notification-dismiss {
  padding: 0 0.5rem;
}

.sd-guide-down-arrow {
  animation-name: pointDown, fadeIn;
  animation-duration: 1s, 0.5s;
  animation-fill-mode: both;
}

.sd-guide-right-arrow {
  animation-name: pointRight, fadeIn;
  animation-duration: 1s, 0.5s;
  animation-fill-mode: both;
}

.sd-guide-down-arrow::after, .sd-guide-right-arrow::after, .sd-guide-down-arrow::before, .sd-guide-right-arrow::before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.sd-guide-down-arrow::after, .sd-guide-right-arrow::after {
  border-color: rgba(255, 255, 255, 0);
}

.sd-guide-down-arrow::before, .sd-guide-right-arrow::before {
  border-color: rgba(204, 204, 204, 0);
}

.sd-guide-down-arrow::after, .sd-guide-down-arrow::before {
  left: 50%;
  top: 100%;
}

.sd-guide-down-arrow::after {
  border-top-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.sd-guide-down-arrow::before {
  border-top-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}

.sd-guide-right-arrow::after, .sd-guide-right-arrow::before {
  left: 100%;
  top: 50%;
}

.sd-guide-right-arrow::after {
  border-left-color: #FFF;
  border-width: 8px;
  margin-top: -8px;
}

.sd-guide-right-arrow::before {
  border-left-color: #cccccc;
  border-width: 9px;
  margin-top: -9px;
}

.sd-step-by-step-guide {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  box-sizing: content-box;
}

.sd-step-by-step-guide img {
  width: 100%;
  height: auto;
  margin-bottom: @margin;
  border-bottom: 1px solid #ddd;
}

.sd-step-by-step-guide p {
  padding: 0 @margin;
  display: block;
  height: 3rem;
}

.sd-step-by-step-guide button {
  .btn;
  .btn-default;
  float: right;
  margin-right: @margin;
  margin-bottom: @margin;
}

.sd-step-by-step-guide button:first-of-type {
  .btn-primary;
}

.sd-step-by-step-guide-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 999;
    width: 10000px;
    height: 10000px;
}
