@keyframes spini {
  100% {
    transform: rotate(1turn);
  }
}

.sd-icon {
  > svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    fill: currentColor;
  }
}

.sd-icon--spinner {
  animation: spini 1s steps(8) 0s infinite normal none;
}
