html {height: 100%;}
body {
    font-family: Ubuntu, sans-serif;
    height: 100%;
    @media (max-width: 768px) {
        padding-top: 150px;
    }
    @media (min-width: 769px) {
        padding-top: 75px;
    }
    > div {
        min-height: 100%;
    }
}

.nav-logo {
    width: 180px;
    padding-right: 0;
    @media (max-width: 768px) {
        padding-bottom: 7px;
    }
    .logo {
        padding-right: 0;
        img {
            height: 32px;
            @media (max-width: 768px) {
                padding-top: 7px;
                height: 43px;
            }
        }
    }
}

.file-list-field {
    width: 568px;
}

.file-list-group {
    position: absolute;
    width: 568px;
    max-height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

.item-icon {
    margin-right: 20px;
}
.item-toolbar {
    padding-right: 0px;
}

.item-content {
    padding-left: 5px;
}

input.form-control {
    border-radius: 0;
}
.input-group-btn {
    button {
        border-radius: 0;
    }
}
.list-group {
    border-radius: 0;
    .list-group-item {
        border-radius: 0;
    }
    a, li {
        border-radius: 0;
    }
}

.search .search-input {
    width: 100%;
    padding-top: 10px;
    border-radius: 0;
    input, button {
        border-radius: 0;
        z-input: 1;
        background-color: transparent;
    }
    img.search-clear {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 44px;
        top: 19px;
        z-index: 100;
        color: #0f0f0f;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
    .search-path {
        .search-affix, .search-affix-empty {
            color: #000;
        }
        .search-path-body {
            color: transparent;
        }
        .search-affix-empty {
            margin-left: 0;
        }
        .search-affix {
            margin-left: 6px;
        }
        &-active {
            .search-affix, .search-affix-empty {
                color: #999;
            }
            .search-path-body {
                color: transparent;
            }
            .search-affix-empty {
                margin-left: 0;
            }
            .search-affix {
                margin-left: 6px;
            }
        }
        &, &-active {
            top: 11px;
            left: 0;
            z-index: 0;
            width: 100%;
            background-color: white;
            padding: 6px 13px;
            position: absolute;
        }
    }


    &.input-group {
        span.input-group-btn {
            width: 34px;
        }
    }
}

.fade {
    z-index: -100500;
    &.in {
        z-index: 100500;
    }
}

.container-fluid.nav-cont {
    &.notebook-nav {
        border-bottom: 1px #ccc solid;
    }
    .nav-icon {
        a {
            font-size: 1.6em;
            color: #f0f0f0;
            padding-bottom: 4px;
            &:hover {
                color: #fff;
            }
        }
        @media (max-width: 768px) {
            padding-top: 14px;
            width: 54px;
        }
        @media (min-width: 769px) {
            padding-top: 8px;
            width: 44px;
        }
    }
}
ol.breadcrumb {
    padding-left: 0;
    margin-bottom: 6px;
    margin-top: 12px;
    >li+li:before {
        padding-right: 1px;
    }
}

.toolbar-sort {
    padding-top: 14px;
    padding-bottom: 10px;
}
.toolbar-menu {
    padding-right: 0;
    ul.list-inline {
        margin-top: 8px;
        margin-bottom: 0;
        li a i.btn-lg.glyphicon {
            padding-right: 0 !important;
        }
    }
}

.notebook-name {
    color: #f0f0f0;
    padding-top: 16px;
    font-size: 28px;
    outline: none;
    background: transparent;
    border: none;
    width: 100%;
    &:hover {
        color: #fff;
    }
}

.notebook-add-cell-button {
    i.glyphicon {
        font-size: 24pt;
    }
}

.notebook-add-cell-menu {
    &.panel {
        border-radius: 0;
        margin-left: 12px;
        float: left;
        &.fade {
            z-index: -100500;
            * {
                z-index: -100500;
            }
            &.fade.in {
                z-index: 100;
                * {
                    z-index: 100;
                }
            }
        }

    }
    .list-inline {
        margin-bottom: 0;
        li {
            font-size: 24pt;
            border: 1px solid #ccc;
            border-right: none;
            padding: 8pt 12pt;
        }
        li:last-child {
            border-right: 1px solid #ccc;
        }
    }
}

.cell-input {

    textarea {
        width: 100%;
        height: 100%;
    }
    &.fade {
        height: 0;
    }
    &.fade.in {
        height: 10em;
    }
}


.notebook-cell {
    margin-top: 18px;
    .row {
        padding-left: 13px;
        padding-right: 13px;
    }

    .status-text {
        line-height: 34px;
        padding-left: 10px;
        float: left;
    }

    .cell-failures {
        padding-left: 10px;
        > div:first-child {
            margin-left: 4px;
            display: inline-block;
            line-height: 34px;
        }
        > div:nth-child(2) {
            background: #f0f0f0;
            padding: 8px 0 8px 51px;
            margin-left: -10px;
        }
    }

    button.play-button, button.stop-button {
        float: left;
        border-radius: 0;
        width: 41px;
    }
    .row.cell-output {
        margin-left: -2px;
        border-left: 41px #f0f0f0 solid;
    }
    .cell-next-actions {
        height: 40px;
        background-color: #f0f0f0;
        margin-left: -2px;
        margin-right: -2px;
    }
    .cell-controls {
        position: relative;
        top: 36px;
        right: 6px;
        z-index: 100;
        background: transparent;
    }

    .cell-eval-line {
        background: #dcdcdc;
    }
}

.ace-container, .ace_editor {
    height: 100%;
}

.explore-cell-editor {
    margin-bottom: 20px;
}

.page-input {
    display: inline-block;
    margin: 0 4px;

    input {
        display: inline-block;
        text-align: center;
        width: 3.5em;
        margin: 0 4px;
    }
}

.page-size {
    display: inline-block;
    margin-left: 10px;
    select {
        display: inline-block;
        margin-left: 4px;
        width: auto;
    }
}

.markdown-output {
    padding-top: 10px;
}

@import "bootstrap-overloads";
@import "dialog/mount";
@import "dialog/rename";
