@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

html {
  height: 100%;
  font-size: 12pt;
}
body {
    padding: 0;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    height: 100%;
    > div {
        min-height: 100%;
    }
}

.notebook-view-hack {
    .notebook-content {
        padding-top: 0;
    }
    .cell-input, .cell-output-label {
        display: none;
    }
    .notebook-cell .row.cell-output div.cell-output-result {
        width: 100%;
    }
    .cell-controls {
        > * {
            display: none;
        }
        button {
            &.refresh-button {
                display: inline-block;
            }
        }
    }
}

.notebook-cell {
    .cell-controls {
        button {
            i {
                top: 2px;
            }
            span.share-button {
                background: no-repeat url(../img/code-icon.svg) center;
                background-size: 16px;
                width: 16px;
                height: 14px;
                display: inline-block;
                position: relative;
                top: 4px;
                opacity: 0.7;
            }
            &:hover {
                span.share-button {
                    background-image: url(../img/code-icon-blue.svg);
                    opacity: 1;
                }
            }
        }
    }
}

.content {
    max-width: 750px;
    margin: auto;
    padding: 60px 15px 0px 15px;
}

.notebook-content {
    padding-top: 111px;
}

button:focus {
    outline:0;
}

.file-list-field {
    width: 568px;
    img.search-clear {
        top: 9px;
    }
}

.file-list-group {
    position: absolute;
    width: 568px;
    max-height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;

    li {
        margin: 0;
        padding: 0;
    }
}

.item-icon {
    margin-right: 20px;
}
.item-toolbar {
    padding-right: 0px;
    display: none;
}

.list-group-item:hover .item-toolbar, .item-toolbar.selected {
    display: block;
}

.list-group-item.phantom {
    color: #999;
    img {
        width: 16px;
        margin-right: 18px;
    }
}

.item-content {
    padding-left: 5px;
    a {
        cursor: pointer;
    }
}
.item-hidden {
    font-style: italic;
    opacity: 0.5;
}
a.item-hidden, button.list-group-item.item-hidden {
    font-style: italic;
    opacity: 1;
    color: #aaa;
}

select.form-control, input.form-control {
    border-radius: 0;
    -webkit-appearance: none;
}
.input-group-btn {
    button {
        border-radius: 0;
    }
}
.list-group {
    border-radius: 0;
    .list-group-item {
        border-radius: 0;
    }
    a, li {
        border-radius: 0;
    }
}

img.search-clear {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 44px;
    top: 19px;
    z-index: 100;
    color: #0f0f0f;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

.search .search-input {
    width: 100%;
    padding-top: 10px;
    border-radius: 0;
    input, button {
        border-radius: 0;
        z-input: 1;
        background-color: transparent;
    }

    .search-path {
        .search-affix, .search-affix-empty {
            color: #000;
        }
        .search-path-body {
            color: transparent;
        }
        .search-affix-empty {
            margin-left: 0;
        }
        .search-affix {
            margin-left: 6px;
        }
        &-active {
            .search-affix, .search-affix-empty {
                color: #999;
            }
            .search-path-body {
                color: transparent;
            }
            .search-affix-empty {
                margin-left: 0;
            }
            .search-affix {
                margin-left: 6px;
            }
        }
        &, &-active {
            top: 11px;
            left: 0;
            z-index: 0;
            width: 100%;
            background-color: white;
            padding: 6px 13px;
            position: absolute;
        }
    }


    &.input-group {
        span.input-group-btn {
            width: 34px;
        }
    }

    .btn {
        width: 40px;
        height: 34px;
        padding: 0;
        i.glyphicon {
            top: 2px;
        }
    }
}

.fade {
    z-index: -100500;
    &.in {
        z-index: 100500;
    }
}

ol.breadcrumb {
    padding-left: 0;
    margin-bottom: 6px;
    margin-top: 12px;
    >li+li:before {
        padding-right: 1px;
    }
}

.toolbar-sort {
    padding-top: 14px;
    padding-bottom: 10px;
    cursor: pointer;
}
.toolbar-menu {
    padding-right: 0;
    ul.list-inline {
        margin-top: 8px;
        margin-bottom: 0;
    }
    button {
        i {
            padding-left: 10px;
            font-size: 16px;
            line-height: 40px;
            position: relative;
            overflow: hidden;
            &.hidden-file-input {
                input[type=file] {
                    display:block;
                    position:absolute;
                    top:0;
                    left:-9999px;
                }
            }
        }
    }
}

.toolbar-menu button, .item-toolbar button {
    background: none;
    border: 0;
    padding: 0;
    color: #337ab7;

    &:hover {
        color: #23527c
    }
}

.new-cell-menu {
    list-style: none;
    margin: 10px 9px;
    padding: 0;
    i.glyphicon {
        font-size: 24px;
    }
    li {
        float: left;
        .fade {
            display: none;
        }
        .fade.in {
            display: inline-block;
        }
    }
    span {
        padding: 10px;
        display: block;
        color: #aaa;
    }
    button {
        padding: 10px;
        background: none;
        border: 0;
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: #286090;
        }
    }
}

.cell-input {
    textarea {
        width: 100%;
        height: 100%;
    }
    &.fade {
        height: 0;
    }
    &.fade.in {
        height: auto;
    }
    .ace_editor {
        min-height: 1em;
    }
    .ace_gutter-layer {
        width: 61px !important;
    }
}

.notebook-cell {

    .cell-header {
        background: #777;
        color: #fff;
        margin: 0px -15px;
        line-height: 30px;

        .cell-icon, .cell-name {
            float: left;
        }

        .cell-icon {
            width: 61px;
            text-align: center;
            font-size: 16px;
        }

        .cell-name {
            margin-left: 10px;
        }

        .cell-controls button {
            opacity: 0.6;
            &:hover {
                color: #fff;
                opacity: 1;
            }
        }
    }

    .status-text {
        line-height: 30px;
        padding-left: 10px;
        float: left;
    }

    .cell-controls {
        padding-right: 8px;
        line-height: 30px;
        button {
            border: none;
            background: none;
            width: 25px;
            text-align: center;
            padding: 0;
            margin-left: 2px;

            &:hover {
                color: #286090;
            }
        }
        > i {
            margin-left: 6px;
            opacity: 0.5;
        }
    }

    .cell-failures, .cell-messages {
        padding-left: 10px;
        line-height: 30px;
        > div:first-child {
            margin-left: 4px;
            display: inline-block;
        }
        > div:nth-child(2), > pre {
            background: #fff;
            padding: 8px 0 8px 10px;
            margin-left: -10px;
            border: 0;
            border-left: 61px solid #ddd;
        }
        &.collapsed {
            border: none;
        }
    }

    .cell-failures {
        background: #FAA;
    }

    button.play-button, button.stop-button {
        float: left;
        border-radius: 0;
        width: 61px;
        padding: 0px;
        height: 30px;
    }
    .row.cell-output {
        &.fade.in {
            padding-bottom: 12px;
        }
        table {
            margin: 0;
            border-bottom: 1px solid #ddd;
            tbody>tr:hover {
                background: #f5f5f5;
            }
        }
        div.pagination {
            margin-left: 10px;
        }
        background: #ddd;
        div.cell-output-label {
            width: 61px;
            float: left;
            text-align: center;
            padding-top: 8px;
        }
        div.cell-output-result {
            min-height: 165px;
            float: left;
            background: #fff;
            width: ~"calc(100% - 61px)";

            .scrollbox {
                overflow-x: auto;
                width: 100%;
            }
        }
    }
    .cell-eval-line {
        background: #ddd;
    }
    .next-cell-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-top: 8px;

            button {
                border: none;
                background: #aaa;
                color: #fff;
                width: 32px;
                height: 32px;
            }

            button:hover {
                background: #337ab7;
            }
        }
    }
}

.ace-container, .ace_editor {
    height: 100%;
}

.explore-cell-editor {
    margin: 0 -15px;
    border-left: 76px solid #ddd;
    padding: 10px;
    button {
        width: 40px;
    }
}

.page-input {
    display: inline-block;
    margin: 0 4px;

    input {
        display: inline-block;
        text-align: center;
        width: 3.5em;
        margin: 0 4px;
    }
}

.page-size {
    display: inline-block;
    margin-left: 10px;
    select, input {
        display: inline-block;
        margin-left: 4px;
        width: 5em;
    }
}

.search-cell-input {
    border-top: none;

}

.search-cell-button {
    border-top: none;
    height: 34px;
}

.echarts-container {
    &.main {
        height: 300px;
        width: 600px;
    }
    &.miniature {
        height: 100px;
        width: 200px;
    }
}
.chart-configuration(@label-width) {
    padding-bottom: 10px;
    label.control-label {
        width: @label-width;
    }
    select.form-control, input.form-control {
        width: calc(~"100% - " @label-width);
        display: inline-block;
    }
}


form.chart-configure-form {
    .chart-configuration(@label-width: 75px);
    &.with-aggregation {
        div {
            width: ~"calc(100% - 75px)";
            display: inline-block;
            .form-control {
                width: ~"calc(100% - 40px)";
                &.aggregation {
                    width: 40px;
                    font-weight: bold;
                }
            }
        }
    }
}
form.chart-size-param {
    .chart-configuration(75px);
}
form.axis-label-param {
    .chart-configuration(120px);
}

div.loading-message.alert.alert-info {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
    height: 136px;
    line-height: 130px;
    font-size: 28px;
    font-weight: 28px;
}

div.viz-cell-editor {
    min-height: 160px;
    padding-left: 15px;
    padding-right: 15px;
    div.loading-message.alert.alert-info {
        height: 160px;
    }
    .viz-chart-type-selector {
        position: absolute;
        left: 0;
        width: 60px;
        height: 160px;
        background-color: #f0f0f0;
        img {
            width: 32px;
            height: 32px;
            padding: 6px;
            background-color: #aaa;
            cursor: pointer;
            margin-left: 16px;
            margin-top: 8px;
            left: 50%;
            &.active, &:hover {
                background-color: #337ab7;
            }
        }
    }
    .viz-chart-configuration {
        margin-left: 60px;
        padding-top: 10px;
    }
}

.glyphicon-inactive {
  color: gray;
}

@import "bootstrap-overloads";
@import "nav";
@import "menu";
@import "notebook";
@import "markdown-output";
@import "dialog/mount";
@import "dialog/rename";
@import "dialog/embed";
@import "dialog/download";
