ul.next-action-card {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    text-align: center;
    li {
        display: inline-block;
        button {
            border: none;
            background: #aaa;
            color: #fff;
            margin-right: 12px;
            width: 108px;
            height: 108px;
            font-size: 48px;
            p {
                font-size: 16px;
                margin-bottom: 0;
            }
            &:hover {
                background: #337ab7;
            }
        }
    }
}

.next-action-card.alert {
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}