div.open-resource-card {
    max-height: 300px;
    overflow: scroll;
    a {

        i {
            margin-right: 20px;
        }
    }
    .list-group-item {
        cursor: pointer;
        &:hover {
            background: #d9edf7;
        }
    }
    div.open-resource-card-menu {
        height: 40px;
        button {
            border-radius: 0;
            border-bottom: 0;
            border-top: 0;
            margin-right: 24px;
            height: 40px;
        }
        p {

            display: inline-block;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
        }
    }

}