/node_modules/
/bower_components/
/tmp/
/dist/
/output/
/coverage/
/test/node_modules
/test/index.js
/test/image/actual.*
/test/image/diff.*
/jars/
public/js/*.js
!public/js/ace*
!public/js/keyboard*
!public/js/echarts*
public/css/*.css
!public/css/bootstrap*.css
.psci_modules
.psci
.*
phantomjsdriver.log
npm-debug.log
