/node_modules/
/bower_components/
/tmp/
/dist/
/output/
/coverage/
/test/node_modules
/test/jars/quasar.jar
jars
public/js/*.js
!public/js/ace*
!public/js/echarts-all.js
public/css/*.css
!public/css/bootstrap*.css
.psci_modules
.psci
phantomjsdriver.log
