language: java
sudo: required
dist: trusty
jdk:
  - oraclejdk8
before_install:
  - nvm install 4
  - nvm use 4
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
install:
  - sudo apt-get install imagemagick
  - convert -version
  - java -version
  - mkdir $HOME/bin
  - curl -O https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-3.0.6.tgz
  - tar -zxvf mongodb-linux-x86_64-3.0.6.tgz
  - mkdir -p $HOME/bin/mongodb
  - cp -R -n mongodb-linux-x86_64-3.0.6/* $HOME/bin/mongodb
  - export PATH=$HOME/bin/mongodb/bin:$PATH
  - npm install bower gulp -g
  - npm install
  - bower install
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - npm run psa
  - if test $TRAVIS_TAG; then npm run build-lite; else npm run property-tests && npm test; fi
before_deploy:
- mkdir -p slamdata
- cp -r public slamdata/
- cp jars/quasar.jar slamdata/
- tar cjf slamdata.tar.bz2 slamdata
- gpg --import public.key
- gpg -e -r SlamData --trust-model always slamdata.tar.bz2
deploy:
  provider: releases
  api-key:
    secure: TitL0gINR0xhcMdNBSFKulH7VlS+q1bAkmkWe5H5drTGesqFQprmnoHxPM8Sstfr0DGrAsSKweN/SsUpmVpK8fUE3AcK9kNqt9HXIXr2UotYa1f3jqQKc4+KRXOOf4qjEdUwYRYYMUayR4psA/mijm3WxoVG/jrOjRZAkal/NAY=
  file: slamdata.tar.bz2.gpg
  skip_cleanup: true
  on:
    repo: slamdata/slamdata
    branch: master
    tags: true
notifications:
  slack:
    secure: EbxkmDGMm5b2K5tpFrcjEmywSzhU6TSJM6VuCzIfpZ78UWqxQ6u2bbpL5a7FYjYqLZI4U/+7p+M85o0Sj58KHgfwWtpgJn84uKvIkSHo808LU/zmCBuiY4kB4z5AnTXVVFdJ2Lx+vjaeBvZA0XNztdDAViT0QM0nTAs7T94oAW8=
  email:
    on_failure: change
