language: node_js
sudo: false
node_js:
  - 0.12.4
install:
  - mkdir $HOME/bin
  - wget -O $HOME/purescript.tar.gz 'https://drive.google.com/uc?export=download&id=0BzXXSTC7MXL0Y0N5VEFGU2E1T0U'
  - tar zxvf $HOME/purescript.tar.gz -C $HOME/bin purescript/psc{,i,-bundle,-docs,-publish} --strip-components=1
  - chmod a+x $HOME/bin/psc{,i,-bundle,-docs,-publish}
  - npm install bower gulp -g
  - npm install
  - bower install
script:
  - gulp less bundle
before_deploy:
- cp -r public slamdata
- tar cjf slamdata.tar.bz2 slamdata
deploy:
  provider: releases
  api-key:
    secure: TitL0gINR0xhcMdNBSFKulH7VlS+q1bAkmkWe5H5drTGesqFQprmnoHxPM8Sstfr0DGrAsSKweN/SsUpmVpK8fUE3AcK9kNqt9HXIXr2UotYa1f3jqQKc4+KRXOOf4qjEdUwYRYYMUayR4psA/mijm3WxoVG/jrOjRZAkal/NAY=
  file: slamdata.tar.bz2
  skip_cleanup: true
  on:
    repo: slamdata/slamdata
    branch: master
    tags: true
notifications:
  slack:
    secure: EbxkmDGMm5b2K5tpFrcjEmywSzhU6TSJM6VuCzIfpZ78UWqxQ6u2bbpL5a7FYjYqLZI4U/+7p+M85o0Sj58KHgfwWtpgJn84uKvIkSHo808LU/zmCBuiY4kB4z5AnTXVVFdJ2Lx+vjaeBvZA0XNztdDAViT0QM0nTAs7T94oAW8=
