body {
  font-family: Ubuntu, sanc-serif;
}
@media (max-width: 768px) {
  body {
    padding-top: 150px;
  }
}
@media (min-width: 769px) {
  body {
    padding-top: 75px;
  }
}
.nav-logo {
  width: 180px;
  padding-right: 0;
}
@media (max-width: 768px) {
  .nav-logo {
    padding-bottom: 7px;
  }
}
.nav-logo .logo {
  padding-right: 0;
}
.nav-logo .logo img {
  height: 36px;
}
@media (max-width: 768px) {
  .nav-logo .logo img {
    padding-top: 7px;
    height: 43px;
  }
}
.search .search-input {
  width: 100%;
  padding-top: 13px;
  border-radius: 0;
}
.search .search-input input,
.search .search-input button {
  border-radius: 0;
}
.search .search-input.input-group span.input-group-btn {
  width: 34px;
}
.breadcrumb {
  background-color: white;
}
.results.list-group .list-group-item {
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding-top: 14px;
  padding-bottom: 14px;
}
.navbar.navbar-inverse {
  background-color: #262626;
  min-height: 70px;
}
@media (max-width: 768px) {
  .container.nav-cont .nav-icon {
    padding-top: 14px;
    width: 54px;
  }
  .container.nav-cont .nav-icon a {
    font-size: 2em;
    color: #f0f0f0;
  }
  .container.nav-cont .nav-icon a:hover {
    color: #ffffff;
  }
}
@media (min-width: 769px) {
  .container.nav-cont .nav-icon {
    padding-top: 8px;
    width: 44px;
  }
  .container.nav-cont .nav-icon a {
    font-size: 2em;
    color: #f0f0f0;
  }
  .container.nav-cont .nav-icon a:hover {
    color: #ffffff;
  }
}
