//- Dark ------------------------------------------------------------


$body-bg: hsl(220, 15%, 12%)
$text-color: hsl(40, 10%, 90%)
$brand-primary: #f5841f
$brand-success: #8eb43c
$brand-info: #49c2a7
$brand-warning: #bb3e7c
$brand-danger: #c93a1a

$font-family-sans-serif: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-base: $font-family-sans-serif


@import ../font-face/ubuntu
@import ../autogen-theme-variables
@import ../main
