.card-input-minimum-lod {
  height: 100%;
  button {
    border: none;
    height: 100px;
    width: 150px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -50px;

    img {
      width: 42px;
      height: 42px;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -21px;
      margin-bottom: 0.5rem;
    }

    .sd-icon {
      display: block;
      font-size: 26pt;  // pt??
      margin-bottom: 0.5rem;
    }
  }
}
