@import "common";

.sd-card-chart-options, .sd-form-input-setup {

  > div {
    height: 100%;
  }

  .loading-message.alert.alert-info {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sd-dimension-picker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .row {
    margin: 0;

    .col-xs-6 {
      padding: .5rem;
    }
  }
}
