.deck-dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.625);
  z-index: 9000;
}

.deck-dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9001;
  pointer-events: none;
}

.deck-dialog > div, .deck-dialog > form {
  display: flex !important;
  flex-direction: column;
  z-index: 9001;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 45%;
  max-height: 95%;
  max-width: 95%;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.666), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.666);

  h4 {
    flex: 0 0 auto;
    line-height: 2;
    padding: 1.6rem;
    margin: 0;
  }
  .deck-dialog-body {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 6.4rem;
    padding: 0 1.6rem;

    form {
      .textarea-copy-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .deck-dialog-cardpath-card {
    white-space: nowrap;
    display: inline-block;
    font-size: 1.28rem;

    &:not(:first-child)::before {
      content: " ➜ ";
    }

    .deck-dialog-cardpath-card:not(:last-child) {
      margin-right: 0.4rem;
    }

    .deck-dialog-footer {
      flex: 0 0 auto;
      padding: 1.6rem;

      .btn:not(.btn-careful) {
        margin-left: 1.6rem;
        float: right;
      }
      .alert-danger {
        margin-bottom: 1.6em;
      }
      button > img {
        height: 1em;
      }
    }

    .deck-dialog-footer.share {
      margin-top: 0;
    }

    textarea {
      resize: none;
      height: 16rem;
      min-height: 6rem;
    }
  }

  .deck-dialog-footer {
    flex: 0 0 auto;
    padding: 1.6rem;

    .btn:not(.btn-careful) {
      margin-left: 1.6rem;
      float: right;
    }
    .alert-danger {
      margin-bottom: 1em;
    }
  }

  .deck-dialog-footer.share {
    margin-top: 0;
  }

  textarea {
    resize: none;
    height: 16rem;
    min-height: 6rem;
  }

  video {
    max-width: 100%;
    width: 100%;
    border-bottom: 0.1rem solid #ccc;
    border-top: 0.1rem solid #ccc;
  }

  .container-fluid {
    padding: 0;
  }
}

.sd-dialog-loading {
  text-align: center;
}

.sd-dialog-loading > img {
  margin-bottom: 1.6rem;
}

.license-dialog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.license-dialog .deck-dialog-footer {
  text-align: center;
}

.license-dialog .deck-dialog-footer .btn {
  float: none !important;
  width: 183px;
}

.license-dialog .deck-dialog-footer .btn:first-child {
  margin: 0 !important;
}

.license-dialog .deck-dialog-footer {
  margin-top: 0.4rem;
}

.license-dialog > div {
  background-color: #151617;
  color: white;
  max-width: 445px !important;
  min-width: 445px !important;
  padding: 1.5rem;
}

.license-dialog p {
  text-align: justify;
}

.license-dialog .btn {
  background: transparent;
  border: 1px solid #F5851E;
  color: #F5851E;
}

.license-dialog .btn:active {
  background: transparent;
  border: 1px solid #F5851E;
  color: #F5851E;
}

.license-dialog h4 {
  color: #F5851E;
  font-size: 3.5rem;
  padding-top: 0 !important;
  padding-bottom: 0.5rem !important;
  text-align: center;
}