.sd-card-download-options {
  height: 100%;

  > div {
    height: 100%;
  }

  div.load-message.alert {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-input {
    &-maximum-lod.download-card-editor {
      position: relative;
      height: 100%;
      padding: 0;

      div.download-type-selector {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        left: 0;
        overflow-y: auto;
        height: 100%;
        padding: 1rem;
        background-color: #f0f0f0;

        > * {
          @m: 0.5rem;

          &:not(:first-child) {
            margin-top: @m;
          }

          &:not(:last-child) {
            margin-bottom: @m;
          }
        }

        img {
          width: 3.2rem;
          height: 3.2rem;
          padding: 0.5rem;
          background-color: #aaa;
          cursor: pointer;

          &.active, &:hover {
            background-color: #337ab7;
          }
        }
      }

      .download-configuration {
        width: ~"calc(100% - 6rem - 1.2rem)";
        position: absolute;
        left: 6rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;

        .download-json-options {
          width: 100%;

          > div {
            padding-bottom: 1.2rem;
            border-bottom: 0.1rem solid #ccc;
          }

          > div + div {
            padding-top: 1.2rem;
          }

          li {
            float: none;
            width: auto;
          }
        }

        .download-csv-delimiters {
          border-bottom: 0.1rem solid #ccc;
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
