.sd-card-open {

  > div, > div > div { height: 100%; }

  .loading .tip .sd-miller-column-item-inner.sd-miller-column-item-node::after {
    content: '';
    background: url("../img/spin-white.svg") no-repeat;
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    background-position: center;
  }

  .sd-miller-column-item-inner i.glyphicon {
    margin-right: 8px;
  }

}

.sd-unfocused > .sd-deck > .sd-card-slider > .sd-card > div > .sd-deck-card > .sd-card-open > div > div > .sd-miller-columns .sd-miller-column {
  border-top: none;
  border-bottom: none;

  &:first-child {
    border-left: none;
  }
}
