.sd-pivot-table {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  table {
    width: 100%;
  }

  tr:first-child {
    th, td {
      border-bottom-width: 0.2rem;
    }
  }

  th, td {
    vertical-align: top;
    border-bottom: 0.1rem solid #ddd;
    padding: 0.8rem;
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4.8rem;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("../img/spin.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .no-results {
    text-align: center;
    padding: 0.8rem;
    opacity: 0.6;
  }

  .sd-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4.8rem;
    border-top: 0.1rem solid #ddd;

    > div {
      display: inline-block;
      margin-left: 0.8rem;
    }

    input[type="number"] {
      width: 5.6rem;
    }

    select {
      width: 8rem;
    }

    input[type="number"], select {
      margin: 0.8rem 0.4rem;
    }

    .sd-icon {
      font-size: 1.2em;
      top: 0;
    }
  }
}

.sd-pivot-table-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 4.8rem;
  overflow: auto;
}
