.sd-pivot-table {
  table {
    width: 100%;
  }

  tr:first-child {
    th, td {
      border-bottom-width: 2px;
    }
  }

  th, td {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
  }
}
