.sd-card-variables {
  padding: .5em;
  min-height: 100%;

  table {
    width: 100%;

    th {
      &:nth-child(1) {
        width: 12rem;
      }
      &:nth-child(2) {
        width: 10rem;
      }
    }

    td {
      input:not([type=checkbox]), select {
        width: 100%;
      }
    }
  }
}
